body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.custom-navbar {
    background-color: #fff0f5;
}


.custom-bg-color {
    background-color: #ffe6f0; 
}

h1, h2 {
    color: #8b4513; 
}

p {
    color: #333;
}

.btn-danger {
    background-color: #d63384;
    border: none;
}

.btn-danger:hover {
    background-color: #b02a6f;
}

.btn-success {
    background-color: #8b4513;
    border: none;
}

.btn-success:hover {
    background-color: #6f3610;
}

.custom-send-btn {
    background-color: #d63384;
    color: white;
    border: none;
}

.custom-send-btn:hover {
    background-color: #b02a6f;
}

.custom-input {
    border: 2px solid #ffc0cb;
}

.custom-input:focus {
    border-color: #d63384;
    box-shadow: none;
}

ul li {
    margin-bottom: 8px;
    color: #5a3e2b;
}

.carousel img {
    height: 200px;
    object-fit: cover;
    border-radius: 15px;
}

section {
    padding-top: 60px;
    padding-bottom: 60px;
}

img {
    max-width: 100%;
    height: auto;
}
